.weapon-list {
    display: flex;
    flex-wrap: wrap;
}

.weapon-item {
    display: block;
    margin: 10px;
    text-align: center;  /* Centre le nom de l'arme sous l'icône */
}

.icon-container {
    position: relative;
    width: 50px;  /* exemple de taille */
    height: 50px;
}

.watermark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;  /* exemple de taille */
    height: 20px;
}
